/* Sticky Header */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* Side Menu */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    z-index: 9999;
    overflow-x: hidden;
    transition: width 0.5s ease, opacity 0.5s ease;
    padding-top: 60px;
    opacity: 0;
}

.side-menu.open {
    width: 50%;
    opacity: 1;
}

.side-menu a, .side-menu button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    position: relative;
}

.side-menu a:hover, .side-menu button:hover {
    color: red;
}

.side-menu a::after, .side-menu button::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #f1f1f1;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.side-menu a:hover::after, .side-menu button:hover::after {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

/* Стили для ссылок в sticky меню */
.navbar ul.nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar ul.nav li {
    margin-left: 15px;
}

.navbar ul.nav li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    transition: all 0.3s ease;
    position: relative;
}

.navbar ul.nav li a:hover {
    color: #ff6600;
    text-decoration: none;
}

.navbar ul.nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ff6600;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar ul.nav li a:hover::after {
    width: 100%;
}

@media (max-width: 1026px) {
    .burger-menu {
        display: block;
    }

    .navbar ul.nav {
        display: none;
    }
}

@media (min-width: 1026px) {
    .burger-menu {
        display: none;
    }

    .navbar ul.nav {
        display: flex;
    }

    .side-menu {
        display: none;
    }
}

@media print {
    form, .pagination, .btn-primary,
    .burger-menu, .btn-print {
        display: none;
    }

    .logo {
        display: none;
    }
}

/* Стили для карточек */
.sequence-item, .match-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Плавные переходы для анимаций */
    cursor: grab;
}

/* Эффекты при наведении */
.sequence-item:hover, .match-item:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень при наведении */
}

/* Эффекты при перетаскивании */
.sequence-item:active, .match-item:active {
    background-color: #dcdcdc;
    transform: scale(1.05); /* Увеличение карточки при перетаскивании */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень во время перетаскивания */
}

/* Стили для выбранной карточки */
.sortable-chosen {
    border: 2px dashed #007bff;
    background-color: #f0f8ff;
}

/* Призрачная карточка во время перетаскивания */
.sortable-ghost {
    opacity: 0.6;
}

/* Карточка во время перетаскивания */
.sortable-drag {
    background-color: #f1f1f1;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Специфичные стили для избежания конфликтов с Bootstrap */
ul#match-list-left .list-group-item,
ul#match-list-right .list-group-item,
ul#sequence-list .list-group-item {
    border: 2px solid #007bff;
    background-color: #f9f9f9;
    transition: background-color 0.3s, transform 0.3s;
}

ul#match-list-left .list-group-item:hover,
ul#match-list-right .list-group-item:hover,
ul#sequence-list .list-group-item:hover {
    background-color: #e0f7fa;
    cursor: grab;
}


.instruction {
        margin-bottom: 20px;
    }

.badge-primary {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
}