{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Отчет о стажировке: {{ intern.full_name }}</h2>

    <div class="card mb-4">
        <div class="card-header">
            Основная информация
        </div>
        <div class="card-body">
            <p><strong>ФИО:</strong> {{ intern.full_name }}</p>
            <p><strong>Дата добавления в систему:</strong> {{ date_added|date:"d.m.Y" }}</p>
            <p><strong>Дата завершения стажировки:</strong> {% if completion_date %}{{ completion_date|date:"d.m.Y H:i" }}{% else %}Не завершена{% endif %}</p>
            <p><strong>Ментор:</strong> {{ mentor.full_name }}</p>
        </div>
    </div>

    <h4>Тесты</h4>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название теста</th>
{#                    <th>Дата начала</th>#}
                    <th>Дата завершения</th>
                    <th>Результат (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for result in test_results %}
                <tr>
                    <td>{{ result.test.title }}</td>
{#                    <td>{{ result.started_at|date:"d.m.Y H:i" }}</td>#}
                    <td>{{ result.completed_at|date:"d.m.Y H:i" }}</td>
                    <td>{{ result.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h4>Отзывы</h4>
    <div class="card mb-4">
        <div class="card-header">
            Отзыв от стажера
        </div>
        <div class="card-body">
            {% if internship.intern_feedback %}
                <p>{{ internship.intern_feedback }}</p>
            {% else %}
                <p>Отзыв от стажера отсутствует.</p>
            {% endif %}
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Отзыв от ментора
        </div>
        <div class="card-body">
            {% if internship.mentor_feedback %}
                <p>{{ internship.mentor_feedback }}</p>
            {% else %}
                <p>Отзыв от ментора отсутствует.</p>
            {% endif %}
        </div>
    </div>

    <!-- Кнопка печати отчета с классом btn-print для скрытия при печати -->
    <div class="mt-4">
        <button onclick="window.print()" class="btn btn-primary btn-print">Печать отчета</button>
    </div>
</div>
{% endblock %}
