{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Отчет по результатам теста: {{ test_result.test.title }}</h2>
    <p>Пользователь: {{ test_result.user.get_full_name }}</p>
    <p>Дата завершения: {{ test_date }}</p>
    <p>Результат: {{ test_result.score }}%</p>

    <div class="alert alert-info">
        <strong>Объяснение значков:</strong>
        <ul>
            <li><span style="color: green;">✔️</span> - Ответ пользователя правильный</li>
            <li><span style="color: red;">❌</span> - Ответ пользователя неправильный</li>
        </ul>
    </div>

    <div class="questions">
        {% for question in questions_with_answers %}
            <div class="question mb-4">
                <h4>{{ forloop.counter }}. {{ question.question_text }}</h4> <!-- Номер вопроса -->

                <ul>
                    {% for answer in question.answers %}
                        <li style="color: {% if answer.is_correct %}green{% elif answer.is_user_selected %}red{% else %}black{% endif %}">
                            {{ answer.text }}
                            {% if answer.is_user_selected %}
                                {% if answer.is_correct %}
                                    ✔️ <!-- Верный выбранный ответ -->
                                {% else %}
                                    ❌ <!-- Неверный выбранный ответ -->
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <p><strong>Ответ пользователя:</strong> 
                    {% if question.user_answers %}
                        {{ question.user_answers|join:", " }}
                    {% else %}
                        <span style="color: gray;">Ответ не выбран</span>
                    {% endif %}
                </p>

                <p><strong>Правильный ответ:</strong> 
                    {% if question.correct_answers %}
                        {{ question.correct_answers|join:", " }}
                    {% else %}
                        <span style="color: gray;">Нет правильного ответа</span>
                    {% endif %}
                </p>
                <p>
                    <strong>Результат:</strong> 
                    {% if question.is_correct %}
                        <span style="color: green;">Правильно</span>
                    {% else %}
                        <span style="color: red;">Неправильно</span>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}
